.header__menu--open {
  width: 400px;
  background-color: $color4;
  border: 1em solid  $color1;
  display: none;
  z-index: 100;
  position: absolute;
  top: 15vh;
  padding: 3em;
}
.header__menu--open ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8vh;
}

